@page
@using JsxClassLibrary
@model IndexModel
@{
    ViewData["Title"] = @JsxConstants.JsxWebApiDemoProducts.ProductNames.Default.JsxMainProjectName + "Home page";
}

<div class="container mt-5">
    <h1 class="text-center mb-4">Welcome to @JsxConstants.JsxWebApiDemoProducts.ProductNames.Default.JsxMainProjectName</h1>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@* <i class="fa fa-user"></i> *@ @JsxConstants.JsxWebApiDemoProducts.ProductNames.Shorts.JsxClassLibraryProject</h5>
                    <p class="card-text">@JsxConstants.JsxWebApiDemoProducts.Descriptions.Short.JsxClassLibrary</p>
                    <a href="@JsxConstants.JsxWebApiDemoProducts.GitHubUrls.DotGitUrls.JsxClassLibraryProject" class="btn btn-primary" target="_blank">GitHub Repository</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                <h5 class="card-title">@JsxConstants.JsxWebApiDemoProducts.ProductNames.Shorts.JsxSharedResourcesProject</h5>
                    <p class="card-text">@JsxConstants.JsxWebApiDemoProducts.Descriptions.Short.JsxSharedResources</p>
                    <a href="@JsxConstants.JsxWebApiDemoProducts.GitHubUrls.DotGitUrls.JsxSharedResourcesProject" class="btn btn-primary" target="_blank">GitHub Repository</a>
            </div>
        </div>
    </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                <h5 class="card-title">@JsxConstants.JsxWebApiDemoProducts.ProductNames.Shorts.JsxWebApiProject</h5>
                    <p class="card-text">@JsxConstants.JsxWebApiDemoProducts.Descriptions.Short.JsxWebApiProject</p>
                    <a href="@JsxConstants.JsxWebApiDemoProducts.GitHubUrls.DotGitUrls.JsxWebApiProject" class="btn btn-primary" target="_blank">GitHub Repository</a>
            </div>
        </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 mb-4">
            <div class="card h-100">
               <div class="card-body">
                <h5 class="card-title">@JsxConstants.JsxWebApiDemoProducts.ProductNames.Shorts.JsxBlazorProject</h5>
                <p class="card-text">@JsxConstants.JsxWebApiDemoProducts.Descriptions.Short.JsxBlazorProject</p>
                <a href="@JsxConstants.JsxWebApiDemoProducts.GitHubUrls.DotGitUrls.JsxBlazorProject" class="btn btn-primary" target="_blank">GitHub Repository</a>
            </div>
        </div>
     </div>
</div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@* <i class="fa fa-user"></i> *@ @JsxConstants.JsxWebApiDemoProducts.ProductNames.Shorts.JsxAngularJsProject</h5>
                    <p class="card-text">@JsxConstants.JsxWebApiDemoProducts.Descriptions.Short.JsxAngularJsProject</p>
                    <a href="@JsxConstants.JsxWebApiDemoProducts.GitHubUrls.DotGitUrls.JsxAngularJsProject" class="btn btn-primary" target="_blank">GitHub Repository</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@JsxConstants.JsxWebApiDemoProducts.ProductNames.Shorts.JsxReactJsProject</h5>
                    <p class="card-text">@JsxConstants.JsxWebApiDemoProducts.Descriptions.Short.JsxReactJsProject</p>
                    <a href="@JsxConstants.JsxWebApiDemoProducts.GitHubUrls.DotGitUrls.JsxReactJsProject" class="btn btn-primary" target="_blank">GitHub Repository</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@JsxConstants.JsxWebApiDemoProducts.ProductNames.Shorts.JsxVueProject</h5>
                    <p class="card-text">@JsxConstants.JsxWebApiDemoProducts.Descriptions.Short.JsxVueProject</p>
                    <a href="@JsxConstants.JsxWebApiDemoProducts.GitHubUrls.DotGitUrls.JsxVueProject" class="btn btn-primary" target="_blank">GitHub Repository</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">@JsxConstants.JsxWebApiDemoProducts.ProductNames.Shorts.JsxBlazorProject</h5>
                    <p class="card-text">@JsxConstants.JsxWebApiDemoProducts.Descriptions.Short.JsxBlazorProject</p>
                    <a href="@JsxConstants.JsxWebApiDemoProducts.GitHubUrls.DotGitUrls.JsxBlazorProject" class="btn btn-primary" target="_blank">GitHub Repository</a>
                </div>
            </div>
        </div>
    </div>
</div>